@import "assets/styles/variables";
@import "assets/styles/helpers";
@import "~@angular/material/prebuilt-themes/purple-green.css";
@import "assets/styles/material-theme";

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
}

* {
  font-family: 'Ubuntu', sans-serif;
}
